.chat {
  cursor: pointer;
  padding: 10px 12px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  font-size: 14px;
  color: #1a202c;
  background-color: var(--primary-background);
  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--second);
  }
}
