.message_list {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  gap: 16px;
  scrollbar-width: none;
  overflow-y: auto;
  align-items: start;
  flex: 1;
  min-height: 0;
}

.message_list_loader {
  margin: 0 auto;
  flex-shrink: 0;
  padding-bottom: 10px;
}
