{
    servers {
        timeouts {
            read_body   10s
            read_header 5s
            write       30s
            idle        10m
        }
    }
}

https://localhost {
    encode gzip

    reverse_proxy /api/ws* http://backend:8000 {
        transport http {
            keepalive 2m
        }

        flush_interval 0
    }

    reverse_proxy /api* http://backend:8000 {
        transport http {
            keepalive 2m
        }
    }

    reverse_proxy http://frontend:3000
}