services:
  mongo:
    image: mongo
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${NOSQLDB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${NOSQLDB_PASSWORD}
    volumes:
      - mongo_data:/data/db
    networks:
      - web

  postgres:
    image: postgres
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${SQLDB_USER}
      POSTGRES_PASSWORD: ${SQLDB_PASSWORD}
      POSTGRES_DB: ${SQLDB_DB}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${SQLDB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - web

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "${S3_PORT}:9000"
    environment:
      MINIO_ROOT_USER: ${S3_USER}
      MINIO_ROOT_PASSWORD: ${S3_PASSWORD}
    volumes:
      - minio_data1:/data1
      - minio_data2:/data2
    networks:
      - web

  redis:
    image: redis
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - web

  caddy:
    image: caddy:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend
      - frontend
    networks:
      - web

  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    env_file:
      - .env.prod
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - mongo
      - redis
      - minio
    networks:
      - web

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_BACKEND_URL=http://localhost:80
        - VITE_FRONTEND_URL=http://localhost:80
        - VITE_BACKEND_WS_URL=ws://localhost:80
    env_file:
      - ./frontend/.env.prod
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - web

networks:
  web:
    driver: bridge

volumes:
  postgres_data:
  mongo_data:
  minio_data1:
  minio_data2:
  redis_data:
  caddy_data:
  caddy_config:
