.form-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 130px;
}

.title {
    font-size: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
