.tag {
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 24px;
}

.default {
  background: var(--text);
  color: var(--text-inverse);
}

.inverse {
  color: var(--text);
  background: var(--text-inverse);
}

.disabled {
  background-color: var(--accent-primary);
  color: var(--text);
  cursor: default;
}

.outline {
  color: var(--text);
  border: 1px solid var(--accent-primary);
  background: var(--accent-primary);
}

.text {
  color: var(--text);
}
