:root {
  --primary: #444444;
  --primary-light: #6b6b74;
  --primary-foreground: #fdfdfd;
  --primary-background: #e7e7e7;
  --second: #c4e0ef;
  --accent: #364eb0;
}

body {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.no_style {
  all: unset;
}

.icon_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--primary-background);
  cursor: pointer;

  &:hover {
    background-color: var(--second);
  }
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

::-webkit-scrollbar-button {
  display: none;
}

::selection {
  background-color: #ffcc00;
  color: var(--primary);
}

.hidden {
  display: none;
}
