.group_list {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.chat_line {
  width: 2px;
  background-color: var(--accent-primary);
}

.unselected_chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  height: 100%;
}
