body {
  overflow: hidden;
}

.chat {
  padding: 40px 20px;
  display: flex;
  gap: 20px;
}

.control_panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28px;
  color: var(--text-second);
  gap: 20px;
  * {
    cursor: pointer;
  }
}

.group_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-y: auto;
  height: calc(100vh - 40px);
  scrollbar-width: none;
  min-width: 360px;
  -ms-overflow-style: none;
}

.chat_line {
  height: inherit;
  width: 2px;
  background-color: var(--accent-primary);
}

.selected_chat,
.unselected_chat {
  display: flex;
  margin: 0 auto 40px auto;
}

.selected_chat {
  justify-content: end;
  flex-direction: column;
  width: 36%;
  align-items: start;
  gap: 12px;
  height: 90vh;
}

.unselected_chat {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  align-items: center;
}
