.group_panel {
  display: flex;
  flex-direction: column;
}

.panorama {
  width: 350px;
  height: 200px;
  border-radius: 20px;
  background-color: var(--primary-background);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;

  .panorama_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }

  .panorama_title {
    display: block;
    font-size: 24px;
    font-weight: 800;
    margin: auto auto 20px 20px;
    color: var(--primary-foreground);
    z-index: 1;
  }

  .panorama_dropdown {
    fill: red;
    cursor: pointer;
  }

  .panorama_options {
    display: block;
    z-index: 1;
  }

  .panorama_gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      0deg,
      rgba(186, 186, 186, 1) 0%,
      rgba(231, 231, 231, 0) 100%
    );
    border-radius: 0 0 20px 20px;
  }
}

.chat_title {
  margin: 40px 0 20px 0;
  display: flex;
  justify-content: space-between;

  span {
    font-size: 20px;
    font-weight: 800;
  }
}
.panorama_dropdown {
  z-index: 11;
  margin: auto 20px 20px auto;
}

.chat_list {
  margin-bottom: 60px;
}
