.group_card {
  display: flex;
  width: 360px;
  height: 60px;
  align-items: center;
  cursor: pointer;
  border-radius: 9999px 24px 24px 9999px;
  transition: background-color 0.3s ease;
  color: var(--text);

  &:hover {
    background-color: var(--accent-second);
  }
}

.active {
  background-color: var(--accent);

  &:hover {
    background-color: var(--accent);
  }
}

.avatar {
  width: 60px;
  height: 60px;
  margin-right: 16px;
  background-color: var(--border);
  color: var(--foreground);
  border-radius: 9999px;
}

.main,
.addition {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.addition {
  margin-left: auto;
  font-size: 14px;
  font-weight: 500;
}

.title {
  font-weight: 500;
}

.last_message {
  color: var(--text-second);
}
