.input_wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  align-items: flex-end;
  min-height: 48px;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 12px 12px;
}

.chat_input {
  all: unset;
  border-radius: 6px;
  border: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  outline: none;
  padding-right: 52px;
  resize: none;
  overflow-y: hidden;
  line-height: 1.5;
  box-sizing: border-box;
  word-break: break-word;
}

.send_icon {
  position: absolute;
  right: 16px;
  bottom: 12px;
  color: var(--text-second);
  transition: top 0.2s ease-out;
  cursor: pointer;
}
