.form {
  width: 100%;
  max-width: 320px;
  margin: 80px auto;
  padding: 32px;
  background: #fff;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 16px;
}

.title {
  font-weight: 600;
  text-align: center;
  margin-bottom: -8px;
  text-wrap: nowrap;
}

.subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.footer {
  text-align: center;
  font-size: 15px;
  color: #666;
}
