.dialog_root {
}

.dialog_content_layout {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  background-color: rgba($color: var(--primary-background), $alpha: 0.5);
}

.dialog_content {
  width: 450px;
  margin: auto;
  background-color: var(--primary-foreground);
  border: 2px solid var(--primary-background);
  padding: 40px;
  border-radius: 10px;
}

.input {
  margin-top: 20px;
  width: 100%;
}

.input_field {
  width: 100% !important;
}

.button {
  width: 100px !important;
  cursor: pointer;
}

.close {
  transform: rotate(45deg);
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 15px;
  margin-top: 15px;
}

.title_icon {
  transform: rotate(45deg);
}
