.sending_input {
  width: 100% !important;
  height: 55px !important;
  flex: 1;
  border: none;
  outline: none;
}

.sending_wrapper {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  padding-right: 60px;
  margin-top: 10px;
}

.send_button {
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  right: 16px;
  transform: translateY(-50%);
  top: 50%;
}
