.button {
  all: unset;
  border: none;
  background: none;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  min-width: 100px;
  text-align: center;
  outline: none;
}

.none {
  color: var(--text);
}

.default {
  background: var(--text);
  color: var(--text-inverse);
}

.inverse {
  color: var(--text);
  background: var(--text-inverse);
}

.disabled {
  background-color: var(--accent-nocolor-primary);
  color: var(--text);
  cursor: default;
}

.outline {
  color: var(--text);
  border: 1px solid var(--accent-nocolor-primary);
  background: var(--accent-nocolor-primary);
}

.text {
  color: var(--text);
}

.reverse_icon {
  flex-direction: row-reverse;
}

.nosize {
}

.sm {
  width: 160px;
  height: 32px;
  font-size: 14px;
  border-radius: 4px;
}

.md {
  width: 260px;
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
}

.full {
  width: 100%;
}
