.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 6px;
  font-size: 16px;
}

.component {
  all: unset;
  box-sizing: border-box;
  padding: 12px;
  font-size: 16px;
  padding: 8px 12px;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    border-color: var(--primary);
  }
}

.textarea {
  height: 140px;
  resize: none;
}

.error {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.full {
  width: 100%;
}
