@use '@/shared/styles/form.module.scss';

.actions {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.verifyPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
}