:root {
  /* Breakpoints min-width */
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;
  --bp-xxl: 1400px;

  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  transition-property:
    background-color, color, border-color, --primary, --text, --text-inverse,
    --text-second, --accent-nocolor-primary, --accent-nocolor-primary;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.light-theme {
  --primary: #2e70b6;
  --text: #343434;
  --text-inverse: white;
  --text-second: #787880;
  --accent-primary: #edeff3;
  --accent-second: #f6f7f9;
}

.dark-theme {
  --primary: #2e70b6;
  --text: white;
  --text-inverse: #343434;
  --text-second: #a1a1a1;
  --accent-primary: #2626264d;
  --accent-second: #262626;
  background: black;
}

body {
  font-family:
    PT Root UI,
    'Inter',
    'Roboto',
    system-ui,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 500;
  font-size: 36px;
}

h3 {
  font-weight: 500;
  font-size: 28px;
}

a {
  cursor: pointer;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
