.input {
  display: flex;
  flex-direction: column;
}

.input_text {
  text-align: left;
  font-size: 16px;
  border: 2px solid var(--primary-background);
  width: 250px;
  height: 40px;
  border-radius: 10px;
  padding-left: 15px;

  outline-color: var(--primary-light);
  outline-width: 0.5px;
}

.input_label {
  margin-bottom: 5px;
}
