.input {
    display: flex;
    flex-direction: column;
}

.input_text {
    font-size: 20px;
    margin-top: 5px;
    border: 2px solid var(--primary-background);
    width: 250px;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
}
